body
{
    background-color: paleturquoise;
}

h1
{
    font-size: 5rem;
    color: darkblue;
}

h2
{
    color: darkblue;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

div
{
    background-color: blanchedalmond;
}
span{
    color: yellowgreen;
}